.meal-list-wrapper {
  text-align: center;

  .meal-table-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;

    .meal-search {
      width: 40%;
      min-width: 250px;
    }

    .meal-table {
      height: 600px;
      overflow: auto;

      .MuiTableCell-root {
        max-width: 300px;
      }

      .meal-row {
        cursor: pointer;
      }
    }

    .loading-wrapper {
      position: absolute;
      z-index: 9999;
      top: 32px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      display: flex;
      
      .loading-indicator {
        margin: auto;
        width: 75px !important;
        height: 75px !important;
      }
    }
  }
}

#meal-dialog-title {
  padding-bottom: 0;
}

#meal-dialog-content {
  width: 400px;

  .meal-dialog-input {
    min-height: 62px;
  }

  .meal-time {
    &-control {
      width: 100%;
    }

    &-group {
      justify-content: space-between;
      padding: 0 10%;
    }

    &-icons {
      display: flex;
      justify-content: space-between;
      padding: 8px 10% 0 10%;
    
      svg {
        margin: 9px;
      }
    }

    &-checkbox {
      margin: 0;
    }
  }
}
