.meal-list-wrapper {
  text-align: center;
}

.meal-table-wrapper {
  width: 80%;
  margin: 0 auto;

  .meal-search {
    width: 40%;
    min-width: 250px;
  }

  .meal-table {
    height: 600px;
    overflow: auto;

    .MuiTableCell-stickyHeader {
      background: #fff;
    }

    .MuiTableCell-root {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .meal-row {
      cursor: pointer;
    }
  }
}

.dark-theme .meal-table-wrapper .meal-table .MuiTableCell-stickyHeader {
  background: #424242;
}

#meal-dialog-title {
  padding-bottom: 0;
}

#meal-dialog-content {
  width: 400px;

  > div { // TODO: make this cleaner
    min-height: 62px;
  }
}
