.home-wrapper {
  text-align: center;

  .grid-wrapper {
    display: flex;
    position: relative;
    max-width: 1000px;
    padding-bottom: 2.5em;
    margin: auto;

    .meal-cell,
    .meal-cell-empty {
      height: 7.5vh;
      min-height: 3em;
      padding: 0.5em;
    }

    .meal-cell {
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.07);
      }
    }

    .loading-wrapper {
      position: absolute;
      // adjust these to be responsive later
      top: 32px;
      bottom: 32px;
      left: 145px;
      right: 160px;
      background: rgba(0, 0, 0, 0.15);
      
      .loading-indicator {
        margin: auto;
        width: 75px !important;
        height: 75px !important;
      }
    }
  }
}
