.home-wrapper {
  text-align: center;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 2.5em repeat(3, 1fr) 2.5em;
    grid-auto-flow: row;
    grid-gap: 1em;
    place-items: center;
    position: relative;
    max-width: 1000px;
    padding: 1em;
    margin: auto;

    .sunrise-icon {
      grid-column: 2/3;
    }

    .day-cell {
      grid-column: 1/2;
    }

    .meal-cell,
    .meal-cell-empty {
      height: 5em;
      width: 100%;
      padding: 0.5em;
    }

    .meal-cell {
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.07);
      }
    }

    .loading-wrapper {
      position: absolute;
      top: 42px;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      display: -webkit-box;
      display: flex;
      
      .loading-indicator {
        margin: auto;
        width: 75px !important;
        height: 75px !important;
      }
    }
  }

  .ingredient-list-wrapper {
    width: 45%;
    min-width: 250px;
    max-width: 500px;
    padding-top: 1em;
    margin: auto;

    .ingredients-table {
      width: 100%;
      max-height: 315px;
      overflow: auto;
    }
  }
}

@media only screen and (max-width: 450px) {
  .home-wrapper {
    .grid-wrapper {
      grid-template-columns: 1.5em repeat(3, 1fr);
      grid-gap: 0.5em;
      padding: 1em 0;
    }
  }
}