.home-wrapper {
  text-align: center;

  .grid-wrapper {
    display: flex;
    padding-bottom: 2.5em;

    .meal-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7.5vh;
      min-height: 3em;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.07);
      }
    }
  }
}
