.meal-detail-wrapper {
  text-align: center;

  .button-wrapper {
    padding-bottom: 1.5em;
  }

  .detail-content-wrapper {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: auto;

    .loading-wrapper {
      position: absolute;
      z-index: 9999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      display: -webkit-box;
      display: flex;
      
      .loading-indicator {
        margin: auto;
        width: 75px !important;
        height: 75px !important;
      }
    }
  }

  .detail-input {
    width: 100%;
    min-height: 62px;
  }

  .ingredient-meal-time-wrapper {
    width: 100%;
    display: -webkit-box;
    display: flex;
    margin: auto;

    .ingredients-table {
      -webkit-box-flex: 1;
              flex: 1;
      height: 315px;
      overflow: auto;
    }
    
    .meal-time {
      &-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        padding-top: 24px;
        width: 20%;
        min-width: 100px;
      }
    
      &-icons,
      &-group {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
      }
    
      &-icons svg {
        margin: 25px 13px;
      }
    
      &-checkbox {
        margin: 16px 4px;
      }
    }
  }

  .detail-action-wrapper {
    text-align: right;

    button {
      width: 72px;
      margin-left: 8px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .meal-detail-wrapper {
    .detail-content-wrapper {
      width: 100%;
    }
  }
}