.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem 0 2rem;
  background: #3f51b5;
  color: #fff;

  .header-filler {
    flex: 1;
  }

  .header-btn {
    color: #fff;
    margin: 0 0.25rem;
  }
}

.dark-theme .header-wrapper {
  background: #333;
}
