.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  background: #3f51b5;
  color: #fff;

  img {
    height: 100%;
  }

  button {
    color: #fff;
  }
}
