$header-height: 88px;

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .flex-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  img {
    height: 100%;
  }

  h2 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    white-space: nowrap;
  }
}

main {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
}

.meal-grid,
.meal-list,
.meal-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: margin-left 500ms;
  padding-top: 2.5em;
}

.home-face {
  .meal-list {
    margin-left: 100%;
  }
  .meal-detail {
    margin-left: -100%;
  }
}

.list-face {
  .meal-grid {
    margin-left: -100%;
  }
  .meal-detail {
    margin-left: 100%;
  }
}

.detail-face {
  .meal-grid {
    margin-left: 100%;
  }
  .meal-list {
    margin-left: -100%;
  }
}

.wrap-home .meal-grid,
.wrap-list .meal-list,
.wrap-detail .meal-detail {
  visibility: hidden;
}

// Global Styles
img {
  outline: none !important;
}
.paper-wrapper {
  padding: 1em;
}
.button-wrapper {
  padding: 0 5% 2.5em;
}
