$header-height: 56px;

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
}

main {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
}

.meal-grid,
.meal-list,
.meal-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: margin-left 500ms;
  padding-top: 2.5em;
}

.home-face {
  .meal-list {
    margin-left: 100%;
  }
  .meal-detail {
    margin-left: -100%;
  }
}

.list-face {
  .meal-grid {
    margin-left: -100%;
  }
  .meal-detail {
    margin-left: 100%;
  }
}

.detail-face {
  .meal-grid {
    margin-left: 100%;
  }
  .meal-list {
    margin-left: -100%;
  }
}

.wrap-home .meal-grid,
.wrap-list .meal-list,
.wrap-detail .meal-detail {
  visibility: hidden;
}

// Global Styles
.paper-wrapper {
  padding: 1em;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5% .5em;
}

.sunrise-icon {
  path.secondary {
    fill: #f50057;
  }
  path.base {
    fill: #000;
  }
}

// mozilla scrollbar customization
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
// chrome scrollbar customization
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 2px solid #f1f1f1;
  &:hover {
    background: #b9b9b9;
  }
  &:active {
    background: #b1b1b1;
  }
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.dark-theme {
  * {
    scrollbar-color: #3e3e3e #262626;
  }
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-color: #262626;
    &:hover {
      background: #464646;
    }
    &:active {
      background: #4e4e4e;
    }
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: #262626;
  }

  .sunrise-icon path {
    &.secondary {
      fill: #80cbc4;
    }
    &.base {
      fill: #fff;
    }
  }
}
