$header-height: 56px;

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
}

main {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
}

.meal-grid,
.meal-list,
.meal-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2em;
  overflow: auto;
  transition: transform 500ms;
  transform: none;
  will-change: transform;
}

.home-face .meal-list,
.list-face .meal-detail,
.detail-face .meal-grid {
  transform: translateX(100%);
}

.home-face .meal-detail,
.list-face .meal-grid,
.detail-face .meal-list {
  transform: translateX(-100%);
}

.wrap-home .meal-grid,
.wrap-list .meal-list,
.wrap-detail .meal-detail {
  visibility: hidden;
}

/* * * * * * * * * * *
    Global Styles
* * * * * * * * * * */
.button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5% .5em;
}

.paper-wrapper {
  padding: 1em;
}

.MuiTableCell {
  &-stickyHeader {
    background: #fff !important;
  }
  &-root {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.MuiAlert {
  &-filledWarning,
  &-filledSuccess {
    color: black !important;
  } 
}

.sunrise-icon {
  path.secondary {
    fill: #f50057;
  }
  path.base {
    fill: #000;
  }
}

.read-only-alert {
  width: 80%;
  max-width: 500px;
  text-align: left;
  margin: 0 auto 1.5em auto;
}

/* * * * * * * * * * *
    Responsiveness
* * * * * * * * * * */
@media only screen and (max-width: 450px) {
  .meal-grid,
  .meal-list,
  .meal-detail {
    padding-top: 1em;
    padding-bottom: 1em;

    .MuiContainer-root {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .button-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

/* * * * * * * * * * *
    Scrollbar
* * * * * * * * * * */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 2px solid #f1f1f1;
  &:hover {
    background: #b9b9b9;
  }
  &:active {
    background: #b1b1b1;
  }
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* * * * * * * * * * *
    Dark Theme
* * * * * * * * * * */
.dark-theme {
  * {
    scrollbar-color: #3e3e3e #262626;
  }
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-color: #262626;
    &:hover {
      background: #464646;
    }
    &:active {
      background: #4e4e4e;
    }
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: #262626;
  }

  .MuiTableCell-stickyHeader {
    background: #424242 !important;
  }

  .MuiAlert {
    &-filledInfo,
    &-filledError {
      color: black !important;
    } 
  }

  .read-only-alert .MuiAlert-message {
    color: #fff;
  }

  .sunrise-icon path {
    &.secondary {
      fill: #80cbc4;
    }
    &.base {
      fill: #fff;
    }
  }
}
