$header-height: 64px;

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  text-align: center;
}

main {
  position: fixed;
  top: $header-height;
  right: 0;
  left: 0;
  bottom: 0;
}

.meal-grid,
.meal-list,
.meal-detail {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: margin-left 500ms;
}

.home-face {
  .meal-list {
    margin-left: 100%;
  }
  .meal-detail {
    margin-left: -100%;
  }
}

.list-face {
  .meal-grid {
    margin-left: -100%;
  }
  .meal-detail {
    margin-left: 100%;
  }
}

.detail-face {
  .meal-grid {
    margin-left: 100%;
  }
  .meal-list {
    margin-left: -100%;
  }
}

.wrap-home .meal-grid,
.wrap-list .meal-list,
.wrap-detail .meal-detail {
  visibility: hidden;
}
